@font-face{
    font-family: "System-SF";
    src: url('./font/System-San-Francisco-Display-Regular.ttf')
}

body{
  background-color: #999999;
}

span{
  font-family: "System-SF", Helvetica, Arial, sans-serif;
  font-size:0.75rem;
}

p{
  font-family: "System-SF", Helvetica, Arial, sans-serif;
  font-size:0.75rem;
}

label{
  font-family: "System-SF", Helvetica, Arial, sans-serif;
  font-size:0.75rem;
}

.nombrePelicula{
  color: #990000;
}

#dvPersonajes{
	float:left;
	width: 250px;
}

.dvPersonaje{
  float: left;
}

#dvPersonajes span, #dvEscenas span{
	font-weight: bold;
}

#dvEscenas, svg{
	float:left;
}

.cuadrado{
	width: 15px; 
 	height: 15px;
 	float: left;
 	margin: 2px;
}

.elipse
{
	width: 50px;
 	height: 40px;
 	-moz-border-radius: 50%;
 	-webkit-border-radius: 50%;
 	border-radius: 50%;
}

.personajePositivo{
	content:url('./img/positivo.png');
	float: left;
	width: 15px; 
 	height: 15px;
 	margin: 2px;
}

.personajeNegativo{
	content:url('./img/negativo.png');
	float: left;
	width: 15px; 
 	height: 15px;
 	margin: 2px;
}

.personajeNeutro{
	content:url('./img/neutral.png');
	float: left;
	width: 15px; 
 	height: 15px;
 	margin: 2px;
}

.positivo{
  content:url('./img/positivo.png');
  float: left;
  width: 15px; 
  height: 15px;
  margin: 2px;
}

.negativo{
  content:url('./img/negativo.png');
  float: left;
  width: 15px; 
  height: 15px;
  margin: 2px;
}

.neutro{
  content:url('./img/neutral.png');
  float: left;
  width: 15px; 
  height: 15px;
  margin: 2px;
}

#detalle-escena{
	display:none;
	left: 50%;
	margin-left: -223px;
	z-index: 1002;
	position: fixed;
	top: 50%;
	margin-top: -159px;

	background: #eef2f7;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	padding: 14px 22px;
	width: 650px; /*400px*/
	position: relative;

	margin: 0;
	padding: 15;
	font-size: 1em;
	text-decoration: none;
	border: thick double;
	list-style: none;
	outline: none;

	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tick text, .tick line{
  display: none;
}

.liPersonaje{
  -webkit-border-radius: 6px;
    border: solid #536376;
    border-width: medium;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    margin: 2px;
    padding: 2px;
    background: aliceblue;
}
.liPersonajeSelected{
  background: #6DAD53;
}

.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 120px;          
    height: 50px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

#option-container {    
    margin-bottom: 25px;
    background: lightsteelblue;  
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;  
    padding: 5px;
}

svg {    
    background: #FFFFFF;  
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;  
}

.modoNocturno{
  background: #000000 !important;
  stroke: white;
}

/* lightbox*/
.sprited {
    background: url('./img/ic_close_black_16dp_1x.png') no-repeat;
    line-height: 1000px;
    overflow: hidden;
    display: block;
}

#close_x {
    width: 24px;
    height: 23px;
    overflow: hidden;
    line-height: 1000px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Panel lateral de personajes */
#slideout {
    position: fixed;
    top: 40px;
    left: 0;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    background: #6DAD53;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout_inner {
    position: fixed;
    top: 40px;
    left: -250px;
    background: #6DAD53;
    width: 200px;
    padding: 25px;
    height: 350px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    overflow: auto; 
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
}
#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}
#slideout:hover {
    left: 250px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

.rotate{
/*  float:left; */
  color: white;
 /* width:100%;
  height:100%;*/
  
  /** Rounded Border */ 
/*  border-radius:5px;-moz-border-radius:5px; */
  
  /** Rotation */
 /* -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);    
  transform:rotate(-90deg); */
}
