<div id="dvEscenas">
	<h3>ESCENAS TOTALES ({{escenas.length}})</h3>
	<div>
		<input type="text" placeholder="Núm. Máx. Escenas" ng-model="maxEscenas">
	</div>
	<div>	
		<!-- <table border="2px;">
			<thead>
				<thead>Cabecera</thead>
				<thead>Duración</thead>
				<thead>Letra</thead>
				<thead>Nº Cabecera</thead>
				<thead>Step</thead>
				<thead>Step Real</thead>
				<thead>Time</thead>
				<thead>Sentimiento</thead>
				<thead>Color Sentimiento</thead>
			</thead>
			<tbody>
				<tr ng-repeat="escena in escenas | limitTo:maxEscenas" style="background: {{escena._colorSentimiento}}">
					<td>{{escena._cabecera}}</td>
					<td>{{escena._duracion}}</td>
					<td>{{escena._letra}}</td>
					<td>{{escena._numeroCabecera}}</td>
					<td>{{escena._step}}</td>
					<td>{{escena._stepReal}}</td>
					<td>{{escena._time}}</td>
					<td>{{escena._sentimiento}}</td>
					<td>{{escena._colorSentimiento}}</td>
				</tr>
			</tbody>
		</table> -->
		<ul>
			<li ng-repeat="escena in escenas | limitTo: maxEscenas">
			{{escena._cabecera}}
				<ul>
					<li>
					{{escena.pointGroup._name}} ({{escena.pointGroup._tipoEscena}})
						<ul>
						<!-- Una personaje -->
						<li ng-if="escena.pointGroup.hasOwnProperty('charPoint') && escena.pointGroup.charPoint.length == null">
							PERSONAJE - {{escena.pointGroup.charPoint._char}}
						</li>
						<!-- Varios Personajes -->
						<li ng-repeat="char in escena.pointGroup.charPoint" ng-if="escena.pointGroup.charPoint.length != null">
							PERSONAJE - {{char._char}}
						</li>

						<!-- Una acción -->
						<li ng-if="escena.pointGroup.hasOwnProperty('accion') && escena.pointGroup.accion.length == null" >
							ACCION - {{escena.pointGroup.accion._descripcion}}
							<ul>
								<!-- Un diálogo -->
								<li ng-if="accion.hasOwnProperty('charDialog') && accion.charDialog.length == null">
									{{accion.charDialog._char}}: "{{accion.charDialog._texto}}""
								</li>
								<!-- Varios diálogos -->
								<li ng-repeat="dialogo in accion.charDialog"
									ng-if="accion.charDialog.length != null">
									{{dialogo._char}}: "{{dialogo._texto}}""
								</li>
							</ul>
						</li>

						<!-- Varias acciones -->
						<li ng-repeat="accion in escena.pointGroup.accion"
							ng-if="escena.pointGroup.accion.length != null" >
							ACCION - {{accion._descripcion}}
							<!-- Un diálogo -->
								<li ng-if="accion.hasOwnProperty('charDialog') && accion.charDialog.length == null">
									{{accion.charDialog._char}}: "{{accion.charDialog._texto}}""
								</li>
								<!-- Varios diálogos -->
								<li ng-repeat="dialogo in accion.charDialog"
									ng-if="accion.charDialog.length != null">
									{{dialogo._char}}: "{{dialogo._texto}}""
								</li>
						</li>
						
					</ul>
					</li>
					
				</ul>
			</li>
				
		</ul>
	</div>
</div>



