
<div id="dvEscenas">
<!-- 	<h3>ESCENAS TOTALES ({{escenas.length}})</h3>
	<div>
		<input type="text" placeholder="Núm. Máx. Escenas" ng-model="maxEscenas" />		
	</div> -->
	<div>	
		<ul style="display:none">
			<li ng-repeat="escena in escenas | limitTo: maxEscenas">
			{{escena._step}}) {{escena._cabecera}}
				<ul>
					<li>
					{{escena.pointGroup._name}} ({{escena.pointGroup._tipoEscena}})
						<ul>
						<!-- Un personaje -->
						<li ng-if="escena.pointGroup.hasOwnProperty('charPoint') && escena.pointGroup.charPoint.length == null">
							PERSONAJE - {{escena.pointGroup.charPoint._char}}
						</li>
						<!-- Varios Personajes -->
						<li ng-repeat="char in escena.pointGroup.charPoint" ng-if="escena.pointGroup.charPoint.length != null">
							PERSONAJE - {{char._char}}
						</li>

						<!-- Una acción -->
						<li ng-if="escena.pointGroup.hasOwnProperty('accion') && escena.pointGroup.accion.length == null" >
							ACCION - {{escena.pointGroup.accion._descripcion}}
							<ul>
								<!-- Un diálogo -->
								<li ng-if="accion.hasOwnProperty('charDialog') && accion.charDialog.length == null">
									{{accion.charDialog._char}}: "{{accion.charDialog._texto}}""
								</li>
								<!-- Varios diálogos -->
								<li ng-repeat="dialogo in accion.charDialog"
									ng-if="accion.charDialog.length != null">
									{{dialogo._char}}: "{{dialogo._texto}}""
								</li>
							</ul>
						</li>

						<!-- Varias acciones -->
						<li ng-repeat="accion in escena.pointGroup.accion"
							ng-if="escena.pointGroup.accion.length != null" >
							ACCION - {{accion._descripcion}}
							<!-- Un diálogo -->
								<li ng-if="accion.hasOwnProperty('charDialog') && accion.charDialog.length == null">
									{{accion.charDialog._char}}: "{{accion.charDialog._texto}}""
								</li>
								<!-- Varios diálogos -->
								<li ng-repeat="dialogo in accion.charDialog"
									ng-if="accion.charDialog.length != null">
									{{dialogo._char}}: "{{dialogo._texto}}""
								</li>
						</li>
						
					</ul>
					</li>
					
				</ul>
			</li>
				
		</ul>
	</div>
</div>



